<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>32c76688a15d6eb2c595b9cc33c0cf9d</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Move It Helper</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>authredirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>examplescheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.43017353273-3ks553jf2akknegh4ot131r1bbj604l8</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>7b066c47f4c79861f8aa0da30ec9ae82c8896b46</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>299744027621181</string>
	<key>FacebookDisplayName</key>
	<string>Move It Helper</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>yourdomain.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This will allow you to add photo for move item.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This will allow you to get direction to your moveIt customer.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This will allow you to get direction to your moveIt customer.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This will allow you to get direction to your moveIt customer.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Move It Helper use camera to upload picture for your move items.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This will allow you to add photo for move item.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We respect your privacy and aim to enhance your Helper experience. Your data and location will be used responsibly to understand your preferences and offer personalised assistance while ensuring the utmost confidentiality and protection.</string>
	<key>UIAppFonts</key>
	<array>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
